/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #010040;
  --clr-primary-2: #020066;
  --clr-primary-3: #02008c;
  --clr-primary-4: #0300b3;
  /* primary/main color */
  --clr-primary-5: #0300d9;
  /* lighter shades of primary color */
  --clr-primary-6: #0400ff;
  --clr-primary-7: #4f4dff;
  --clr-primary-8: #7573ff;
  --clr-primary-9: #9b99ff;
  --clr-primary-10: #c0bfff;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Navbar
===============
*/

nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  min-height: 4rem;
  max-height: fit-content;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle,
.cancel-btn {
  font-size: 1.75rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: var(--transition);
}

.nav-toggle:hover {
  transform: rotateZ(0.25turn);
  color: var(--clr-black);
}

.cancel-btn {
  color: var(--clr-red-dark);
}

.cancel-btn:hover {
  transform: scale(1.25);
  color: var(--clr-red-light);
}

.logo {
  margin-top: -0.35rem;
}
.links {
  padding-bottom: 0.5rem;
}

.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

.links a:hover {
  background: var(--clr-primary-7);
  color: var(--clr-primary-10);
  padding-left: 1.5rem;
}

.social-icons {
  display: none;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-container {
  height: fit-content;
}

@media screen and (min-width: 800px) {
  .links {
    padding-bottom: 0;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 1rem;
  }

  .links {
    display: flex;
    gap: 0 1.25rem;
  }

  .links a {
    padding: 0;
  }
  .links a:hover {
    padding: 0;
    color: #4f4dff;
    background: transparent;
  }
  .social-icons {
    display: flex;
    gap: 0 0.9rem;
    margin-bottom: -0.25rem;
  }

  .social-icons a {
    font-size: 1.1rem;
    transition: var(--transition);
  }

  .social-icons a:hover {
    color: var(--clr-primary-8);
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }

  .links a {
    font-size: 1.05rem;
  }

  .links li {
    position: relative;
    padding: 0.35rem 0;
  }

  .links li::after {
    content: '';
    position: absolute;
    bottom: -5%;
    left: 0;
    width: 100%;
    height: 0.3rem;
    transform: translateX(-25%);
    border-radius: 5rem;
    transition: var(--transition);
  }

  .links li:hover:after {
    background: var(--clr-primary-7);
    transform: translateX(0%);
  }
}

@media screen and (min-width: 1200px) {
  .links {
    gap: 0 1.25rem;
  }

  .social-icons {
    gap: 0 1.75rem;
  }

  .social-icons a {
    font-size: 1.25rem;
  }
}
